# Backend
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env
backend/.DS_Store
backend/storage/

# Frontend
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/.DS_Store
frontend/.env*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# General
.DS_Store
.vscode/
.idea/
*.swp

